<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Page Title</title>
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <header>
        <a href="{% url 'system_app:index' %}">Home</a>
        <a href="{% url 'system_app:load_data' %}">Load Data</a>
        <a href="{% url 'system_app:show_data' %}">Show Data</a>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
    </footer>

    <script src="scripts.js"></script>
</body>

</html>