{% extends 'system_app/base.html' %}
{% block content %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Chart showing data loaded dynamically. The individual data points can
        be clicked to display more information.
    </p>
</figure>


<!-- {{keys}}

{{values}} -->

{% endblock content %}

{% block javascript %}

<script>
    var keys = {{ keys| safe}};
    var values = {{ values }};
    console.log(keys);
    console.log(values);

    // A point click event that uses the Renderer to draw a label next to the point
    // On subsequent clicks, move the existing label instead of creating a new one.
    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Total Messages Count Per Day'
        },
        subtitle: {
            text: 'Timeline chart'
        },
        xAxis: {
            categories: keys
        },
        yAxis: {
            title: {
                text: 'Total Count'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Messages',
            data: values
        }]
    });

</script>
{% endblock javascript %}